@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 31 30% 97%;
    --foreground: 31 5% 0%;
    --card: 31 35% 93%;
    --card-foreground: 31 5% 10%;
    --card-shadow:  31 15% 75%;
    --popover: 31 73% 95%;
    --popover-foreground: 31 95% 0%;
    --primary: 31 45.1% 80%;
    --primary-foreground: 0 0% 0%;
    --secondary: 31 40% 50%;
    --secondary-foreground: 0 0% 0%;
    --muted: -7 30% 85%;
    --muted-foreground: 31 5% 35%;
    --accent: 7 10% 85%;
    --accent-foreground: 31 5% 10%;
    --destructive: 0 73% 30%;
    --destructive-foreground: 31 5% 90%;
    --border: 31 30% 50%;
    --input: 31 30% 18%;
    --ring: 31 45.1% 80%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 31 50% 5%;
    --foreground: 31 5% 90%;
    --card: 31 50% 0%;
    --card-foreground: 31 5% 90%;
    --card-shadow: 31 15% 10%;
    --popover: 31 50% 5%;
    --popover-foreground: 31 5% 90%;
    --primary: 31 45.1% 80%;
    --primary-foreground: 0 0% 0%;
    --secondary: 31 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -7 30% 15%;
    --muted-foreground: 31 5% 60%;
    --accent: -7 30% 15%;
    --accent-foreground: 31 5% 90%;
    --destructive: 0 73% 30%;
    --destructive-foreground: 31 5% 90%;
    --border: 31 30% 18%;
    --input: 31 30% 18%;
    --ring: 31 45.1% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .shadow-card {
    box-shadow: 12px 12px 15px hsl(var(--card-shadow));
  }
}
